 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 #hiddendiv { 
    display:none;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
box-sizing: border-box;
width: 80%;
margin-left: auto; 
margin-right: auto;
margin-top: 25px;
padding:10px;
transition: 0.3s;
height: 80%;
text-align: center;
background-color: transparent;
border-radius: 4px;
}

.contents{
overflow: auto;
white-space: nowrap;
text-align: center;
justify-content: center;
background-color: #ffffff;
border-radius: 4px;	
}


.container {
background-color:#ffffff;
color: black;
margin-left: auto; 
margin-right: auto;
padding: 2px ;
text-align: center;

border-radius: 4px;
margin-bottom: 10px;

}
table{
width:100%;
}
td{
text-align:left;
}
body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff1a00+21,ffecea+78 */
background: #ff1a00; /* Old browsers */
background: -moz-linear-gradient(left,  #ff1a00 21%, #ffecea 78%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ff1a00 21%,#ffecea 78%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ff1a00 21%,#ffecea 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ffecea',GradientType=1 ); /* IE6-9 */
}
input[type=text] {
border: 2px solid green;
border-radius: 16px;
width: 55%;
height: 38px;
margin-left: auto; 
margin-right: auto;
}
select{
border: 2px solid green;
border-radius: 4px;
height: 30px;
}
button{
width: 40%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none ;
border-radius: 23px;
cursor: pointer;
transition:0.5s all;
font-size: 18px;
}
button:hover{
    background-color: white;
    color:#4CAF50;
    border: 4px solid #4CAF50;
}
.contents span{
background-color: #3b5998;
border: 1px solid black;
border-radius: 4px;
font-size:24px;
color: white;
margin: 2px;
padding: 2px;
}


body{
text-align: center;
}
.infoCard {

box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
box-sizing: border-box;

width: 80%;
max-width: 600px;
margin-left: 10px; 
margin-right: 10px;
margin-top: 25px;
padding:10px;
transition: 0.3s;
height: 80%;
text-align: center;
background-color: transparent;
border-radius: 4px;
display: inline-block;

}


.infoCard:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.infoContents{

background-color: #ffffff;
border-radius: 4px;	
}


.infoContainer {
background-color: #3b5998;
color: #ffffff;
margin-left: auto; 
margin-right: auto;
padding: 2px ;
text-align: center;

border-radius: 4px;
margin-bottom: 10px;

}
.infotable { 
box-sizing: border-box;
width: 100%;
border-collapse: collapse;
}

.infotable td { 
margin:0;
}
.infotable td:nth-child(1) { 

padding-left: 16px; 
font-size: 24px;
text-align: left; 
}

.infotable td:nth-child(2) { 

padding-right: 16px; 
font-family: 'cambria';
font-size: 24px;
text-align: right;

}

.infotable tr:nth-child(even){background-color: #f2f2f2;}

.infotable tr { 
border-bottom: 1px solid #e8e8e8;

}
.infotable tr , table td{
height:50px;
}

.infotable2 { 
box-sizing: border-box;


border-collapse: collapse;


}

.infotable2 td { 
font-size: 24px;

text-align: center; 
}
.infotable2 td:nth-child(1) { 
padding-left:10px;
text-align: left; 
}

.infotable2 tr , table td{
height:50px;
background-color: #f2f2f2;
}


ul {

list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ffffff;
}

li {
float: right;
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
font-size: 20px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #c3c3c3;
}
div div a:hover:not(.active) {
background-color: #000000;
}
.active {
background-color: #4CAF50;
}


@media screen and (max-width: 850px) {
.card  {
width:100%;

}
.infoCard {
width:100%;
margin-left: 0px; 
margin-right: 0px;
}
#handle, #handle1, #handle2, button{
  width: 80%;
  margin-bottom:5px;
}

} 
#infoCard1,#infoCard2{
    display: none;
}